<div id="skill-set" class ="white ">
  <div class="text-shadow bottom-text">User Experience Designer</div>
</div>
<div id="main" class="huge " >
  <span class="pad-left white">RYAN SADLER</span>
</div>
<div id="contact" class=""></div>

